<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Styles -->
  <link rel="stylesheet" href="/header.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet"> -->
  <link href="http://fonts.cdnfonts.com/css/chapaza" rel="stylesheet">
  <title>Chelsea Homes Kelowna</title>
</head>
<body>
  <div>
    <div class="header">
      <img id="logo" src="/img/ChelseaHomesLogo.png">
    </div>
    <div id="menuItems">
      <div id="btns">
        <a class="button" href="/about">ABOUT US</a>
        <a class="button" href="/gallery">GALLERY</a>
        <a class="button" href="/contact">CONTACT</a>
        <a class="button" href="/quote">REQUEST A QUOTE</a>
      </div>
    </div>
  </div>
</body>
</html>