<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Styles -->
  <link rel="stylesheet" href="/styles.css" type="text/css" />

  <title>Chelsea Homes Kelowna</title>
</head>
<body>
  <div>
    <div class="header">
        <img id="logo" src="/img/ChelseaHomesLogo.png">
      <div id="btns">
        <button class="button">About Us</button>
        <button class="button">Gallery</button>
        <button class="button">Contact</button>
        <button class="button">Request a Quote</button>
      </div>
    </div>
    <div class="menuItems">
     
    </div>
  </div>
</body>
</html>