<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Styles -->
  <link rel="stylesheet" href="/styles.css" type="text/css" />

  <title>Chelsea Homes Kelowna</title>
</head>
<body>
  <div>
    <div class="header">
      <img id="logo" src="/img/ChelseaHomesLogo.png">
    </div>
    <div id="menuItems">
      <div id="btns">
        <button class="button">ABOUT US</button>
        <button class="button">GALLERY</button>
        <button class="button">CONTACT</button>
        <button class="button">REQUEST A QUOTE</button>
      </div>
    </div>
  </div>
</body>
</html>