<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Styles -->
  <link rel="stylesheet" href="/header.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="icon" href="favicon.ico" type="image/x-icon"> 
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
  <!-- <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet"> -->
  <link href="http://fonts.cdnfonts.com/css/chapaza" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <title>Chelsea Homes Kelowna</title>
</head>
<body>
  <div id="navbar">
    <div class="menuItems">
      <!-- <a id="homeButton">HOME</a> -->
      <div id="btns">
        <a id="homeButton" href="/">
          <img id="smallLogo" src="/img/ChelseaHomesSmallTransparent.png">
        </a>
        <a class="button" href="/team">THE TEAM</a>
        <a class="button" href="/process">THE PROCESS</a>
        <a class="button" href="/gallery">GALLERY</a>
        <a class="button" href="/#contactForm">CONTACT US</a>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- <a class="button" href="/contact">CONTACT US</a> -->
      </div>
    </div>
  </div>

  <script>
    function myFunction() {
      let x = document.getElementById("navabr");
      if (x.className === "menuItems") {
        x.className += " responsive";
      } else {
        x.className = "menuItems";
      }
    }
  </script>

</body>
</html>