.header {
  background-color: #2c5370;
  width: 100%;
  height: 11em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  color: white;
  font-weight: 100;
  letter-spacing: .1em;
  border: none;
  background-color: inherit;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 0;
  font-size: 1.1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.button:hover {
  opacity: 0.5;
}

#logo {
  width: 20em;
  height: auto;
}

#btns {
  display: flex;
  align-self: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

#menuItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2c5370;
}