<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="icon" href="favicon.ico" type="image/x-icon"> 
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
    <link rel="stylesheet" href="/main.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <title>Chelsea Homes Kelowna</title>
  </head>
  <body>
    <%- include('partials/_header') %>

    <div class="row">
      <div class="column">
        <img class="individualImg" onClick="bigger();" src="/img/lakevale.jpg"> 
        <img class="individualImg" onClick="bigger();" src="/img/KelownaVineyard.jpg">
        <img class="individualImg" onClick="bigger();" src="/img/Kelowna.jpeg">
        <img class="individualImg" onClick="bigger();" src="/img/KelownaBoardwalk.jpg">
        <img class="individualImg" onClick="bigger();" src="/img/KelownaViews.jpg">
        <img class="individualImg" onClick="bigger();" src="/img/Henrik.jpeg">
        <img class="individualImg" onClick="bigger();" src="/img/Noah.jpeg">
      </div>
      <div class="column">
        <img class="individualImg" onClick="bigger();" src="/img/Henrik.jpeg">
        <img class="individualImg" onClick="bigger();" src="/img/KelownaVineyard.jpg">
        <img class="individualImg" onClick="bigger();" src="/img/Kelowna.jpeg">
        <img class="individualImg" onClick="bigger();" src="/img/KelownaBoardwalk.jpg">
        <img class="individualImg" onClick="bigger();" src="/img/lakevale.jpg">
        <img class="individualImg" onClick="bigger();" src="/img/KelownaViews.jpg">
      </div>
      <div class="column">
        <img class="individualImg" onClick="bigger();" src="/img/lakevale.jpg">
        <img class="individualImg" onClick="bigger();" src="/img/KelownaVineyard.jpg">
        <img class="individualImg" onClick="bigger();" src="/img/Kelowna.jpeg">
        <img class="individualImg" onClick="bigger();" src="/img/KelownaBoardwalk.jpg">
        <img class="individualImg" onClick="bigger();" src="/img/KelownaViews.jpg">
        <img class="individualImg" onClick="bigger();" src="/img/Henrik.jpeg">
        <img class="individualImg" onClick="bigger();" src="/img/Noah.jpeg">
      </div>
     
    </div>

    <!-- <div id="allGalleryImages">
      <img class="galleryImage" src="/img/lakevale.jpg">
    </div> -->

    <%- include('partials/_footer') %>


    <script>

      // const bigger = function(){
      //   $('.individualImg').css("width","150%", ); // incorrect class on line 25
      //   // $('.testing').css("height","70%");
      // }


      // probably need to use toggleClass...
      const bigger = function() {
        $('.individualImg').toggleClass('individualImg enlargedImg');
      }


    </script>


  </body>
</html>