<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="icon" href="favicon.ico" type="image/x-icon"> 
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
    <link rel="stylesheet" href="/main.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chelsea Homes Kelowna</title>
  </head>
  <body>
    <%- include('partials/_header') %>

    <div class="row">
      <div class="column">
        <img src="/img/lakevale.jpg">
        <img src="/img/KelownaVineyard.jpg">
        <img src="/img/Kelowna.jpeg">
        <img src="/img/KelownaBoardwalk.jpg">
        <img src="/img/KelownaViews.jpg">
        <img src="/img/Henrik.jpeg">
        <img src="/img/Noah.jpeg">
      </div>
      <div class="column">
        <img src="/img/Henrik.jpeg">
        <img src="/img/KelownaVineyard.jpg">
        <img src="/img/Kelowna.jpeg">
        <img src="/img/KelownaBoardwalk.jpg">
        <img src="/img/lakevale.jpg">
        <img src="/img/KelownaViews.jpg">
      </div>
      <div class="column">
        <img src="/img/lakevale.jpg">
        <img src="/img/KelownaVineyard.jpg">
        <img src="/img/Kelowna.jpeg">
        <img src="/img/KelownaBoardwalk.jpg">
        <img src="/img/KelownaViews.jpg">
        <img src="/img/Henrik.jpeg">
        <img src="/img/Noah.jpeg">
      </div>
     
    </div>

    <!-- <div id="allGalleryImages">
      <img class="galleryImage" src="/img/lakevale.jpg">
    </div> -->

  </body>
</html>