<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" href="/main.css" type="text/css" />
  <link rel="icon" href="favicon.ico" type="image/x-icon"> 
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/chapaza" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  
  <title>Chelsea Homes Kelowna</title>
</head>
<body>
  <!-- <div id="mainContainer"> -->

    <header>
      <%- include('partials/_header') %>
    </header>

    <div id="container">
      <img id="mainImg" src="/img/KelownaViews.jpg">
      <img id="mainLogo" src="/img/ChelseaHomesMainLogo.png">
    </div>

    <div id="containerTwo">
      <!-- <div>
        <p id="hookText">CREATE YOUR DREAM HOME</p>
      </div> -->

      <div id="inspiringQuote">
        <blockquote class="blockquote">
            Chelsea Homes has a unique style and you can tell it's a family business by their attention to detail. They exceeded my expectationsa and I would highly recommend Chelsea Homes.
          <footer id="footer">
              <cite id="cite">
                Luke Oloffs
              </cite>
          </footer>
        </blockquote>
      </div>


      <div class="accentShots">
        <img class="splitPics" src="/img/KelownaVineyard.jpg">
        <img class="splitPics" src="/img/DowntownKelowna.jpg">
      </div>
    </div>


    <div id="contactQuoteContainer">
      <div id="contactForm">
        <h1 class="heading" type="text">Thank you for your interest in Chelsea Homes.</h1>
        <h3 class="subheading" type="text">Please fill in the relevant information and description of the project details.</h3>  
        <form
          action="/app.js"
          method="POST"
          enctype=”multipart/form-data”
          name=”EmailForm”
          >
          <div id="nameQuote">
            <input id="firstName" class="quoteInput" name="firstName" placeholder="First Name">
            <input id="lastName" class="quoteInput" name="lastName" placeholder="Last Name">
          </div>
          <div id="contactQuote">
            <input id="email" class="quoteInput" name="email" placeholder="Email">
            <input id="phone" class="quoteInput" name="phone" placeholder="Phone Number">
          </div>
          <div class="siteAddress">
            <input id="siteAddressInput" name="address" placeholder="Site Address (optional)">
          </div>
          <div id="checkBoxes">
            <input id="new" class="checkboxOptions" type="checkbox" name="new" value="new"> New Build<br>
            <input id="reno" class="checkboxOptions" type="checkbox" name="reno" value="reno"> Renovation<br>       
            <input id="other" class="checkboxOptions" type="checkbox" name="other" value="other"> Other<br>       
          </div>
          <div>
            <textarea id="projectDescription" name="projectDescription" rows="4" cols="50" placeholder="Describe the project in detail"></textarea>
          </div>
          <div id="dropdownMenu">
            <h3 class="subheading" type="text">How did you hear about Chelsea Homes?</h3>
            <select id="dropdown" name="choices" >
              <option value="" disabled selected hidden>Select</option>
              <option value="client">Existing Client</option>
              <option value="wom">Word of Mouth</option>
              <option value="google">Google Search</option>
              <option value="Other">Other</option>
            </select>
            <input id="dropdownButton" name="dropdown" type="submit" value="Submit">
          </div>
        </form>
      </div>

      <div class="heading">
        <h1 class="heading">Contact us</h1>
        <h3 class="subheading">Phone: 123-456-7890</h3>
        <h3 class="subheading">Email: <a href="mailto:chelseahomeskelowna@gmail.com">chelseahomeskelowna@gmail.com</a></h3>
      </div>


    </div>

    <footer>
      <%- include('partials/_footer') %>
    </footer>

  <!-- </div> -->

  <script>

  $(document).ready(function(){
    $('form').on('submit', (e) => {
      e.preventDefault();

      const firstName = $('#firstName').val().trim();
      const lastName = $('#lastName').val().trim();
      const email = $('#email').val().trim();
      const phone = $('#phone').val().trim();
      const address = $('#siteAddressInput').val().trim();
      const description = $('#projectDescription').val().trim();

      const data = {
        firstName,
        lastName,
        email,
        phone,
        address,
        description
      };

      $.post('/email', data, () => {
        console.log("Server recieved our data!")
      });
    });
  });


  function showImages(el) {
    let windowHeight = jQuery( window ).height();
    $(el).each(function(){
    let thisPos = $(this).offset().top;
    let topOfWindow = $(window).scrollTop();
      if (topOfWindow + windowHeight - 200 > thisPos ) {
        $(this).addClass("fadeIn");
      }
    });
  }

  // if the image in the window of browser when the page is loaded, show that image
  $(document).ready(function(){
    showImages('.accentShots');
  });

  // if the image in the window of browser when scrolling the page, show that image
  $(window).scroll(function() {
    showImages('.accentShots');
  });

  </script>

</body>
</html>