<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="icon" href="favicon.ico" type="image/x-icon"> 
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/main.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Chelsea Homes Kelowna</title>
</head>
<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <!-- <div id="container">
    <img id="mainImg" src="/img/KelownaBoardwalk.jpg">
  </div> -->

  <h1 id="teamHeading">Meet the team</h1>

  <div id="theTeamImgs">
    <div>
      <img class="teamImg" src="/img/Henrik.jpeg" alt="Henrik">
      <!-- <h3>Henrik is the co-founder and head of something at Chelsea Homes. He has built many homes over the years and has experience as a something something.</h3> -->
    </div>
    <div>
      <img class="teamImg" src="/img/Chelsea.jpeg" alt="Chelsea">
      <!-- <h3>Chelsea is the co-founder and head of something at Chelsea Homes. She is in charge on something and does it very well.</h3> -->
    </div>
    <div>
      <img class="teamImg" src="/img/Noah.jpeg" alt="Noah">
      <!-- <h3>Noah is the co-founder and head of something at Chelsea Homes. He is in charge on something and does it very well.</h3> -->
    </div>
  </div>

</body>
</html>