#wholeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  /* background-color: #2c5370; */
  background-color: #303030;
  width: 90%;
  height: 11em;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
}

.button {
  color: white;
  font-weight: 200;
  letter-spacing: .1em;
  border: none;
  background-color: inherit;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 0;
  font-size: 1.1em;
  font-family: 'Helvetica neue';
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: .8;
  text-decoration: none;
}

.button:hover {
  opacity: 0.5;
}

#logo {
  width: 20em;
  height: auto;
}

#btns {
  display: flex;
  align-self: center;
  width: 70%;
  flex-direction: row;
  justify-content: space-around;
}

#menuItems {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: #2c5370; */
  background-color: #303030;
}

#test {
  background-color: #2c5370;
}

/* #homeButton {

} */