/* #mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

* {
  scroll-behavior: smooth;
}

.heading {
  display: flex;
  justify-content: left;
  color: grey;
  font-family: 'Helvetica neue';
  font-weight: 200;
  margin-left: .8em;
  margin-top: 2em;
}

.subheading {
  color: grey;
  opacity: .7;
  font-family: 'Helvetica neue';
  font-weight: 300;
  margin-left: 1.6em;
  margin-bottom: 2em;
}

#nameQuote {
  margin-left: 1.8em;
  width: 40em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 1em;
  font-family: 'Helvetica neue';
}

#contactQuote {
  margin-left: 1.8em;
  width: 40em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 1em;
}

.siteAddress {
  margin-left: 1.8em;
  width: 40em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 1em;
}

#siteAddressInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2.5em;
  margin-right: 1em;
}

.quoteInput {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 2.5em;
  margin-right: 1em;
}

#checkBoxes {
  display: block;
  font-family: 'Helvetica neue';
  opacity: .7;
  position: relative;
  margin-left: 1.8em;
  margin-top: 1em;
  cursor: pointer;
  font-size: 1em;
}

#projectDescription {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica neue';
  font-size: .9em;
  font-weight: 400;
  width: 43.2em;
  height: 9.5em;
  margin-left: 2em;
  margin-top: 1em;
  resize: none;
  margin-bottom: .5em;
}

#dropdownMenu {
  display: flex;
  flex-direction: column;
  width: 40em;
}

#dropdown {
  margin-left: 2.1em;
  width: 47%;
}

#dropdownButton {
  margin-left: 1.8em;
  margin-top: 2em;
  width: 10em;
  /* background-color: #2c5370; */
  background-color: #303030;
  border: none;
  color: white;
  padding: .7em 1.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  font-family: 'Helvetica neue';
  cursor: pointer;
}

#container {
  display: flex;
  justify-content: center;
  position: relative;
}

#mainLogo {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 40em;
  height: auto;
  transform: translate(-50%, -50%);
}

#mainImg {
  /* margin-top: 4px; */
  width: 90%;
}

#contactForm {
  margin-left: 2.5em;
}

#contactQuoteContainer {
  display: flex;
  flex-direction: row;
}

#hookText {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: 'Chapaza';
  font-weight: 100;
  opacity: .7;
}

.blockquote {
  font-family: 'Cinzel', serif;
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
  font-size: 1.3em;
}

.blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
.blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
  float: right;
  font-size: 6em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
}
.blockquote footer {
  padding: 0 2em 0 0;
  text-align:right;
  opacity: .7;
}
.blockquote cite:before {
  content: "\2013";
}

#inspiringQuote {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center; */
  margin-top: 2em;
  width: 80%;

    margin-left: auto;
    margin-right: auto;
  /* height: 50%; */

}

.accentShots {
  display: flex;
  justify-content: center;
  width: 100%;
  visibility: hidden;
}

.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important;
}

@keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

.splitPics {
  display: flex;
  padding: .2em;
  width: 37em;
  height: auto;
}

#allGalleryImages {
  display: flex;
  justify-content: center;
  position: relative;
}

.galleryImage {
  width: 90%;
}

#theTeamImgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
  /* width: .1em; */
  /* height: auto; */
}

.teamImg {
  width: 19em;
  height: auto;

}

#teamHeading {
  display: flex;
  justify-content: center;
  color: grey;
  font-family: 'Helvetica neue';
  font-weight: 200;
  margin-top: 1em;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 29.7%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#altContact {
  display: flex;
  justify-content: right;
  flex-direction: column;
  color: grey;
  font-family: 'Helvetica neue';
  font-weight: 200;
  /* margin-top: 2em; */
  margin-left: 5em;
}

.altSubheading {
  color: grey;
  opacity: .7;
  font-family: 'Helvetica neue';
  font-weight: 300;
  margin-left: 1.6em;
  margin-bottom: .5em;
}
/* 
#containerTwo{
} */

.individualImg:hover {
  opacity: .9;
  cursor: pointer;
}

.enlargedImg {
  width: 150%;
}




/* Footer styles */

#footerPartial {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20em;
  background-color: rgb(60, 60, 60);

  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0px;
  box-sizing: border-box;
}