.heading {
  display: flex;
  justify-content: left;
  color: grey;
  font-family: 'Helvetica neue';
  font-weight: 200;
  margin-left: .8em;
  margin-top: 1em;
}

.subheading {
  color: grey;
  opacity: .7;
  font-family: 'Helvetica neue';
  font-weight: 300;
  margin-left: 1.6em;
  margin-bottom: 2em;
}

#nameQuote {
  margin-left: 1.8em;
  width: 40em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 1em;
  font-family: 'Helvetica neue';
}

#contactQuote {
  margin-left: 1.8em;
  width: 40em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 1em;
}

.siteAddress {
  margin-left: 1.8em;
  width: 40em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 1em;
}

#siteAddressInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2.5em;
  margin-right: 1em;
}

.quoteInput {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 2.5em;
  margin-right: 1em;
}

#checkBoxes {
  display: block;
  font-family: 'Helvetica neue';
  opacity: .7;
  position: relative;
  margin-left: 1.8em;
  margin-top: 1em;
  cursor: pointer;
  font-size: 1em;
}

#projectDescription {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica neue';
  font-size: .9em;
  font-weight: 400;
  width: 43.2em;
  height: 9.5em;
  margin-left: 2em;
  margin-top: 1em;
  resize: none;
  margin-bottom: .5em;
}

#dropdownMenu {
  display: flex;
  flex-direction: column;
  width: 40em;
}

#dropdown {
  margin-left: 1.8em;
}

#dropdownButton {
  margin-left: 1.8em;
  margin-top: 2em;
  width: 10em;
  /* background-color: #2c5370; */
  background-color: #303030;
  border: none;
  color: white;
  padding: .7em 1.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  font-family: 'Helvetica neue';
}

#container {
  display: flex;
  justify-content: center;
  position: relative;
}

#mainLogo {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 40em;
  height: auto;
  transform: translate(-50%, -50%);
}

#mainImg {
  width: 90%;
}

#contactForm {
  margin-left: 2.5em;
}

#contactQuoteContainer {
  display: flex;
  flex-direction: row;
}

#hookText {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: 'Chapaza';
  font-weight: 100;
  opacity: .7;
}

.blockquote {
  font-family: 'Cinzel', serif;
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
  font-size: 2em;
}

.blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
.blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
  float: right;
  font-size:6em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
}
.blockquote footer {
  padding: 0 2em 0 0;
  text-align:right;
  opacity: .7;
}
.blockquote cite:before {
  content: "\2013";
}

#inspiringQuote {
  display: flex;
  align-self: center;

}

.accentShots {
  display: flex;
  justify-content: center;
  width: 100%;
}

.splitPics {
  display: flex;
  padding: .2em;
  width: 37em;
  height: auto;
}